* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  margin-left: 3vw;
  margin-right: 3vw;
}

header {
  position: relative;
  height: 50vh;
  overflow: hidden;
}
header > * {
  position: absolute;
}
header .welcome {
  color: aliceblue;
  margin-top: 6%;
  margin-left: 8%;
  z-index: 1;
}

header .welcome p {
  margin-top: 4%;
  margin-left: center;
  text-align: center;
}

header img {
  width: 100%;
  height: 50vh;
  top: 0;
  right: 0;
}

nav {
  background-color: black;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  width: 30%;
  text-align: center;
}
nav ul li:hover {
  background-color: gray;
}

nav ul li a {
  display: block;
  font-size: 26px;
  color: aliceblue;
  text-decoration: none;
}
